rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test_connection/{allPaths=**} {
      allow read: if true;
    }
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
